
@mixin vert-align{
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

@mixin center-content(){
  max-width: 1400px;
  margin: 0 auto;
}

@mixin tableLayout(){
  display: table;
  width: 100%;
  table-layout: fixed;
}

