@import url(../../bower_components/jquery.select-to-autocomplete/jquery-ui.css);
@font-face {
  font-family: 'ritchie-icons';
  src: url("../fonts/ritchie-icons.eot?o9cbw0");
  src: url("../fonts/ritchie-icons.eot?o9cbw0#iefix") format("embedded-opentype"), url("../fonts/ritchie-icons.ttf?o9cbw0") format("truetype"), url("../fonts/ritchie-icons.woff?o9cbw0") format("woff"), url("../fonts/ritchie-icons.svg?o9cbw0#ritchie-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ritchie-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-size-med {
  font-size: 20px;
  vertical-align: middle; }

.icon-pause:before {
  content: "\e926"; }

.icon-arrow-left:before {
  content: "\e925"; }

.icon-max-4:before {
  content: "\e923"; }

.icon-max-1:before {
  content: "\e922"; }

.icon-max-3:before {
  content: "\e924"; }

.icon-mail:before {
  content: "\e921"; }

.icon-sold:before {
  content: "\e920"; }

.icon-error-1:before {
  content: "\e91f"; }

.icon-trash:before {
  content: "\e91e"; }

.icon-ccy:before {
  content: "\e91a"; }

.icon-calculator:before {
  content: "\e91b"; }

.icon-unlocked:before {
  content: "\e918"; }

.icon-lock:before {
  content: "\e919"; }

.icon-settings:before {
  content: "\e917"; }

.icon-check-inner:before {
  content: "\e915"; }

.icon-info:before {
  content: "\e916"; }

.icon-popout:before {
  content: "\e90b"; }

.icon-next:before {
  content: "\e90e"; }

.icon-prev:before {
  content: "\e914"; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-audio:before {
  content: "\e901"; }

.icon-bid:before {
  content: "\e902"; }

.icon-cart:before {
  content: "\e903"; }

.icon-check:before {
  content: "\e904"; }

.icon-clock:before {
  content: "\e905"; }

.icon-close:before {
  content: "\e906"; }

.icon-dei:before {
  content: "\e907"; }

.icon-eye:before {
  content: "\e908"; }

.icon-help:before {
  content: "\e909"; }

.icon-loading:before {
  content: "\e90a"; }

.icon-Photos:before {
  content: "\e90c"; }

.icon-plus:before {
  content: "\e90d"; }

.icon-sale:before {
  content: "\e90f"; }

.icon-search:before {
  content: "\e910"; }

.icon-user:before {
  content: "\e911"; }

.icon-warning:before {
  content: "\e912"; }

.icon-warranty:before {
  content: "\e913"; }

.t-allcaps {
  text-transform: uppercase;
  letter-spacing: 0.12em; }

body {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0; }

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 0; }

a {
  text-decoration: none;
  outline: none; }
  a:hover, a:active, a:focus {
    outline: none; }

body {
  background-color: #0072C2;
  color: palettes(grey, x-dark);
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #0072C2; }

.o-hr-white {
  border-bottom: 1px solid white; }

.link {
  text-decoration: underline; }

@-webkit-keyframes waitingslide {
  0% {
    left: 0;
    right: 100%; }
  50% {
    left: 0;
    right: 0; }
  100% {
    left: 100%;
    right: 0; } }

@keyframes waitingslide {
  0% {
    left: 0;
    right: 100%; }
  50% {
    left: 0;
    right: 0; }
  100% {
    left: 100%;
    right: 0; } }

/*******************
	HELPER CLASSES
********************/
.h-overflow {
  overflow: hidden; }

.h-t-xs {
  font-size: 0.6rem; }

.h-t-s {
  font-size: 0.8rem; }

.h-t-m {
  font-size: 1rem; }

.h-t-l, .h-t-large {
  font-size: 1.5rem; }

.h-t-xxxl {
  font-size: 3.5rem; }

.h-ta-center {
  text-align: center; }

.h-ta-left {
  text-align: left; }

.h-ta-right {
  text-align: right; }

.h-tt-uppercase {
  text-transform: uppercase; }

.h-t-ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.h-valign {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute; }

.h-mt-50 {
  margin-top: 10px; }

.h-mt-100 {
  margin-top: 15px; }

.h-mt-200 {
  margin-top: 20px; }

.h-mb-100 {
  margin-bottom: 15px; }

.h-mb-200 {
  margin-bottom: 20px; }

.h-mb-50 {
  margin-bottom: 10px; }

.h-mb-0 {
  margin-bottom: 0; }

.h-mr-100 {
  margin-right: 15px; }

.h-mr-200 {
  margin-right: 20px; }

.h-mr-50 {
  margin-right: 10px; }

.h-ml-100 {
  margin-left: 15px; }

.h-ml-50 {
  margin-left: 10px; }

.h-pt-100 {
  padding-top: 15px; }

.h-pb-100 {
  padding-bottom: 15px; }

.h-p-0 {
  padding: 0; }

.h-lh-200 {
  line-height: 2; }

.h-d-table {
  display: table;
  width: 100%;
  table-layout: fixed; }

.h-d-block {
  display: block; }

.h-d-inline-block {
  display: inline-block; }

.h-pos-relative {
  position: relative; }

.h-pos-center {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center; }

.h-va-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%; }

.h-mw-400 {
  max-width: 430px;
  margin: 0 auto; }

.h-f-right {
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: right; }

.h-float-left {
  float: left; }

.h-float-right {
  float: right; }

.h-va-super {
  vertical-align: super; }

.h-ws-nowrap {
  white-space: nowrap; }

.h-icon--large {
  font-size: 25px; }

.s-viewer-mode .h-viewer-hidden {
  display: none; }

.h-viewer-shown {
  display: none; }
  .s-viewer-mode .h-viewer-shown {
    display: initial; }

.h-color-white {
  color: white; }

.o-input--container {
  position: relative;
  display: block; }

.o-input--text, [class^="o-input--text_"] {
  height: 65px;
  width: 100%;
  display: block;
  border: 1px solid #bfc0be;
  background-color: #ffffff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  padding: 10px 15px 0;
  outline: none;
  position: relative;
  font-size: 1rem;
  margin-bottom: 20px; }
  .o-input--text.invalid, .o-input--text.s-error, [class^="o-input--text_"].invalid, [class^="o-input--text_"].s-error {
    background-color: #F3BFBF; }
  .o-input--text.s-error_border, [class^="o-input--text_"].s-error_border {
    border: 1px solid #c4483a; }
  .o-input--text:hover, [class^="o-input--text_"]:hover {
    border: 1px solid #0072C2; }
  .o-input--text:focus, [class^="o-input--text_"]:focus {
    border: 1px solid #0072C2; }
  .o-input--text ~ span, [class^="o-input--text_"] ~ span {
    position: absolute;
    pointer-events: none;
    left: 15px;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    color: #585858; }
  .o-input--text:placeholder-shown ~ span, [class^="o-input--text_"]:placeholder-shown ~ span {
    top: 21px;
    font-size: 1rem; }
  .o-input--text:focus ~ span, .o-input--text:not(:placeholder-shown) ~ span, [class^="o-input--text_"]:focus ~ span, [class^="o-input--text_"]:not(:placeholder-shown) ~ span {
    top: 5px;
    font-size: 0.8rem; }

.o-input--password, [class^="o-input--password_"] {
  height: 65px;
  width: 100%;
  display: block;
  border: 1px solid #bfc0be;
  background-color: #ffffff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  padding: 10px 15px 0;
  outline: none;
  position: relative;
  font-size: 1rem;
  margin-bottom: 20px;
  display: none; }
  .o-input--password.invalid, .o-input--password.s-error, [class^="o-input--password_"].invalid, [class^="o-input--password_"].s-error {
    background-color: #F3BFBF; }
  .o-input--password.s-error_border, [class^="o-input--password_"].s-error_border {
    border: 1px solid #c4483a; }
  .o-input--password:hover, [class^="o-input--password_"]:hover {
    border: 1px solid #0072C2; }
  .o-input--password:focus, [class^="o-input--password_"]:focus {
    border: 1px solid #0072C2; }
  .o-input--password ~ span, [class^="o-input--password_"] ~ span {
    position: absolute;
    pointer-events: none;
    left: 15px;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    color: #585858; }
  .o-input--password:placeholder-shown ~ span, [class^="o-input--password_"]:placeholder-shown ~ span {
    top: 21px;
    font-size: 1rem; }
  .o-input--password:focus ~ span, .o-input--password:not(:placeholder-shown) ~ span, [class^="o-input--password_"]:focus ~ span, [class^="o-input--password_"]:not(:placeholder-shown) ~ span {
    top: 5px;
    font-size: 0.8rem; }
  .o-input--password.s-visible, [class^="o-input--password_"].s-visible {
    display: block; }

.o-input--password_slim, .o-input--text_slim {
  margin-bottom: 0;
  border-bottom: none; }

.l-input--toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.o-input--error-message {
  color: #c4483a;
  margin-top: -15px;
  margin-bottom: 20px; }

.o-input--error-message_slim {
  background-color: #c4483a;
  color: white;
  padding: 15px;
  position: relative; }
  .o-input--error-message_slim:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #c4483a;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }

.o-input--caveat {
  background-color: #585858;
  color: white;
  padding: 20px;
  position: relative; }
  .o-input--caveat:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #585858;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }

.o-input--select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 65px;
  width: 100%;
  display: block;
  border: 1px solid #bfc0be;
  background-color: #ffffff;
  border-radius: 0;
  appearance: none;
  box-sizing: border-box;
  padding: 10px 15px 0;
  outline: none;
  position: relative;
  font-size: 1rem;
  margin-bottom: 20px;
  padding-right: 40px;
  background: white url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'><path d='M13,14.09l5.29-5.3a1,1,0,0,1,1.42,1.42l-7,7a1,1,0,0,1-1.42,0l-7-7A1,1,0,0,1,5,8.5a1,1,0,0,1,.71.29L11,14.09A1.16,1.16,0,0,0,13,14.09Z' fill='#bfc0be' transform='translate(-4 -8.5)'/></svg>") right 10px center no-repeat;
  background-size: 20px 20px;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  cursor: pointer;
  margin-bottom: 0;
  border-bottom: none; }
  .o-input--select.invalid, .o-input--select.s-error {
    background-color: #F3BFBF; }
  .o-input--select.s-error_border {
    border: 1px solid #c4483a; }
  .o-input--select:hover {
    border: 1px solid #0072C2; }
  .o-input--select:focus {
    border: 1px solid #0072C2; }
  .o-input--select ~ span {
    position: absolute;
    pointer-events: none;
    left: 15px;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    color: #585858; }
  .o-input--select:placeholder-shown ~ span {
    top: 21px;
    font-size: 1rem; }
  .o-input--select:focus ~ span, .o-input--select:not(:placeholder-shown) ~ span {
    top: 5px;
    font-size: 0.8rem; }
  .o-input--select:focus {
    outline: none; }
  .o-input--select:hover {
    background-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'><path d='M13,14.09l5.29-5.3a1,1,0,0,1,1.42,1.42l-7,7a1,1,0,0,1-1.42,0l-7-7A1,1,0,0,1,5,8.5a1,1,0,0,1,.71.29L11,14.09A1.16,1.16,0,0,0,13,14.09Z' fill='#333333' transform='translate(-4 -8.5)'/></svg>"); }
  .o-input--select:placeholder-shown ~ span {
    opacity: 0 !important; }
  .o-input--select:focus ~ span, .o-input--select:not(:placeholder-shown) ~ span {
    opacity: 1; }

.ui-menu {
  top: 65px;
  background-color: white;
  border: 1px solid #bfc0be;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
  .ui-menu .ui-menu-item {
    padding: 10px 15px;
    border-bottom: 1px solid #bfc0be; }
    .ui-menu .ui-menu-item:last-of-type {
      border-bottom: none; }
    .ui-menu .ui-menu-item.ui-state-focus {
      background-color: rgba(0, 114, 194, 0.2); }

.o-input--checkbox {
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  vertical-align: middle; }
  .o-input--checkbox span {
    vertical-align: middle; }
  .o-input--checkbox .o-input--checksymbol {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: white;
    border: 1px solid #585858;
    color: transparent;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    margin-right: 6px;
    background: white url(data:image/svg+xml,%3Csvg%20width%3D%2226px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2026%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Event-List%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Event-List---Mailing-List%22%20transform%3D%22translate%28-380.000000%2C%20-534.000000%29%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M404.739221%2C539.363675%20L393.732692%2C561.399771%20C393.167126%2C562.537052%20392.052926%2C563.297503%20390.789715%2C563.423113%20C390.671183%2C563.433298%20390.545878%2C563.443482%20390.427346%2C563.443482%20C389.296214%2C563.443482%20388.212494%2C562.913883%20387.508076%2C562.007453%20L380.772081%2C553.299613%20C379.52919%2C551.683655%20379.813666%2C549.354775%20381.432472%2C548.105463%20C383.041119%2C546.845967%20385.364343%2C547.144715%20386.610621%2C548.760673%20L389.753408%2C552.820937%20L398.135303%2C536.046887%20C399.036145%2C534.217053%20401.257771%2C533.473577%20403.086548%2C534.396981%20C404.915325%2C535.310201%20405.650223%2C537.53384%20404.739221%2C539.363675%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) center center no-repeat;
    background-size: 60%;
    -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
    transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
    .o-input--checkbox .o-input--checksymbol:hover {
      background: rgba(0, 114, 194, 0.5) url(data:image/svg+xml,%3Csvg%20width%3D%2226px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2026%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Event-List%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Event-List---Mailing-List%22%20transform%3D%22translate%28-380.000000%2C%20-534.000000%29%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M404.739221%2C539.363675%20L393.732692%2C561.399771%20C393.167126%2C562.537052%20392.052926%2C563.297503%20390.789715%2C563.423113%20C390.671183%2C563.433298%20390.545878%2C563.443482%20390.427346%2C563.443482%20C389.296214%2C563.443482%20388.212494%2C562.913883%20387.508076%2C562.007453%20L380.772081%2C553.299613%20C379.52919%2C551.683655%20379.813666%2C549.354775%20381.432472%2C548.105463%20C383.041119%2C546.845967%20385.364343%2C547.144715%20386.610621%2C548.760673%20L389.753408%2C552.820937%20L398.135303%2C536.046887%20C399.036145%2C534.217053%20401.257771%2C533.473577%20403.086548%2C534.396981%20C404.915325%2C535.310201%20405.650223%2C537.53384%20404.739221%2C539.363675%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) center center no-repeat;
      background-size: 60%; }
  .o-input--checkbox input {
    display: none; }
    .o-input--checkbox input:checked + .o-input--checksymbol {
      background: #0072C2 url(data:image/svg+xml,%3Csvg%20width%3D%2226px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2026%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Event-List%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Event-List---Mailing-List%22%20transform%3D%22translate%28-380.000000%2C%20-534.000000%29%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M404.739221%2C539.363675%20L393.732692%2C561.399771%20C393.167126%2C562.537052%20392.052926%2C563.297503%20390.789715%2C563.423113%20C390.671183%2C563.433298%20390.545878%2C563.443482%20390.427346%2C563.443482%20C389.296214%2C563.443482%20388.212494%2C562.913883%20387.508076%2C562.007453%20L380.772081%2C553.299613%20C379.52919%2C551.683655%20379.813666%2C549.354775%20381.432472%2C548.105463%20C383.041119%2C546.845967%20385.364343%2C547.144715%20386.610621%2C548.760673%20L389.753408%2C552.820937%20L398.135303%2C536.046887%20C399.036145%2C534.217053%20401.257771%2C533.473577%20403.086548%2C534.396981%20C404.915325%2C535.310201%20405.650223%2C537.53384%20404.739221%2C539.363675%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) center center no-repeat;
      background-size: 60%; }
      .o-input--checkbox input:checked + .o-input--checksymbol:hover {
        background: rgba(0, 114, 194, 0.5) url(data:image/svg+xml,%3Csvg%20width%3D%2226px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2026%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Event-List%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Event-List---Mailing-List%22%20transform%3D%22translate%28-380.000000%2C%20-534.000000%29%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M404.739221%2C539.363675%20L393.732692%2C561.399771%20C393.167126%2C562.537052%20392.052926%2C563.297503%20390.789715%2C563.423113%20C390.671183%2C563.433298%20390.545878%2C563.443482%20390.427346%2C563.443482%20C389.296214%2C563.443482%20388.212494%2C562.913883%20387.508076%2C562.007453%20L380.772081%2C553.299613%20C379.52919%2C551.683655%20379.813666%2C549.354775%20381.432472%2C548.105463%20C383.041119%2C546.845967%20385.364343%2C547.144715%20386.610621%2C548.760673%20L389.753408%2C552.820937%20L398.135303%2C536.046887%20C399.036145%2C534.217053%20401.257771%2C533.473577%20403.086548%2C534.396981%20C404.915325%2C535.310201%20405.650223%2C537.53384%20404.739221%2C539.363675%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E) center center no-repeat;
        background-size: 60%; }

.o-button {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  border: 2px solid transparent;
  padding: 8px 15px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #0072C2;
  color: white; }
  .o-button:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .o-button:hover {
    background-color: #135897;
    color: white; }
  .o-button:focus {
    outline: none;
    border-color: #C1631C; }

.o-button--contrast {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  border: 2px solid transparent;
  padding: 8px 15px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #E87722;
  color: white; }
  .o-button--contrast:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .o-button--contrast:hover {
    background-color: #C1631C;
    color: white; }
  .o-button--contrast:focus {
    outline: none;
    border-color: #C1631C; }

.o-button--light {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  border: 2px solid transparent;
  padding: 8px 15px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  color: #E87722; }
  .o-button--light:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .o-button--light:hover {
    background-color: #E87722;
    color: white; }
  .o-button--light:focus {
    outline: none;
    border-color: #C1631C; }

.o-button--outline {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  border: 2px solid transparent;
  padding: 8px 15px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
  color: #0072C2;
  border-color: #0072C2; }
  .o-button--outline:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .o-button--outline:hover {
    background-color: #0072C2;
    color: white; }
  .o-button--outline:focus {
    outline: none;
    border-color: #C1631C; }

.o-text-button {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  border: 2px solid transparent;
  padding: 8px 15px;
  font-size: 0.8rem;
  background-color: transparent;
  color: #0072C2; }
  .o-text-button:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .o-text-button:hover, .o-text-button:focus {
    color: #135897; }

.o-text-button--large {
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 45px;
  border: 2px solid transparent;
  padding: 8px 15px;
  font-size: 1rem;
  background-color: transparent;
  color: #0072C2; }
  .o-text-button--large:disabled {
    opacity: 0.4;
    cursor: normal;
    pointer-events: none; }
  .o-text-button--large:hover, .o-text-button--large:focus {
    color: #135897; }

.o-text-link {
  color: #0072C2; }
  .o-text-link:hover {
    color: #135897;
    text-decoration: underline; }

.l-grid-quarter {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .l-grid-quarter {
      display: inline-block;
      vertical-align: top;
      width: 24%;
      margin-right: 1%; }
      .l-grid-quarter:last-child {
        float: right;
        margin-right: 0; } }

.l-grid-third {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .l-grid-third {
      display: inline-block;
      vertical-align: top;
      width: 32%;
      margin-right: 0.5%; }
      .l-grid-third:last-child {
        float: right;
        margin-right: 0; } }

.l-grid-half {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .l-grid-half {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      margin-right: 1%; }
      .l-grid-half:last-child {
        float: right;
        margin-right: 0; } }

.l-grid-two-thirds {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .l-grid-two-thirds {
      display: inline-block;
      vertical-align: top;
      width: 62%;
      margin-right: 0.5%; }
      .l-grid-two-thirds:last-child {
        float: right;
        margin-right: 0; } }

.l-grid-three-quarters {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .l-grid-three-quarters {
      display: inline-block;
      vertical-align: top;
      width: 74%;
      margin-right: 1%; }
      .l-grid-three-quarters:last-child {
        float: right;
        margin-right: 0; } }

.c-container-box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

.c-container-box_transparent {
  padding: 20px; }

.o-container--header {
  margin-bottom: 30px; }

.c-container--auction {
  overflow: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }
  .c-container--auction .o-status-indicator:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; }
  .c-container--auction.s-active .o-status-indicator {
    color: #36AE4F; }
    .c-container--auction.s-active .o-status-indicator:before {
      background-color: #36AE4F; }
  .c-container--auction.s-ended {
    background-color: rgba(255, 255, 255, 0.9);
    color: #585858; }
    .c-container--auction.s-ended .o-status-indicator {
      color: #c4483a; }
      .c-container--auction.s-ended .o-status-indicator:before {
        background-color: #c4483a; }

.c-progress-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.o-prgress--step {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: transparent url("../img/right-arrow.svg") right 0px center no-repeat; }
  .o-prgress--step:first-of-type {
    padding-left: 0; }
  .o-prgress--step:last-of-type {
    padding-right: 0;
    background: transparent; }
  .o-prgress--step.s-active {
    margin-right: auto; }
    .o-prgress--step.s-active .o-progress--header {
      color: #0072C2; }

.o-progress--subheader {
  color: #585858; }

.o-content-tab-area {
  position: relative;
  width: 100%;
  overflow: hidden; }

.o-content-tab {
  padding: 0;
  float: left;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1); }
  .o-content-tab.s-active {
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 2; }

.o-aligned-label-field {
  margin-bottom: 15px; }

.o-aligned--label {
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: #bfc0be; }
  @media (min-width: 48em) {
    .o-aligned--label {
      display: inline-block;
      vertical-align: top;
      width: 15%;
      margin-right: 1%; }
      .o-aligned--label:last-child {
        float: right;
        margin-right: 0; } }

.o-aligned--value {
  box-sizing: border-box;
  position: relative;
  vertical-align: top; }
  @media (min-width: 48em) {
    .o-aligned--value {
      display: inline-block;
      vertical-align: top;
      width: 84%;
      margin-right: 1%; }
      .o-aligned--value:last-child {
        float: right;
        margin-right: 0; } }

.c-modal {
  position: fixed;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  transition: 0.2s cubic-bezier(0.63, 0.005, 0.365, 1);
  overflow-y: auto; }
  .c-modal.s-visible {
    top: 0; }

.c-modal--content {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: calc(50% + 20px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-height: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

.c-modal--sub-box {
  background-color: #E9E9E9;
  padding: 20px; }

.l-wrapper {
  max-width: 800px;
  margin: 40px auto; }

.l-full-width {
  display: block;
  width: 100%; }

.c-header-main {
  background-color: white;
  display: block; }

.l-header--full {
  width: 100%;
  height: 80px; }

.logo {
  display: inline-block;
  width: 200px;
  height: 46px;
  margin: 10px 5px 10px 10px;
  -webkit-transform: scale(1.15) translateX(15px);
          transform: scale(1.15) translateX(15px); }
